body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;

}

.navbar {
    height: 30px;
    width: 70%;
    background-color: white;
    border-radius: 70px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 110px;

}


#logo {
    background-image: url("https://www.mysoftway.com/images/companylogo.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 10px;
    margin-bottom: 5px;
    width: 50px;
    height: 25px;
}

#contact {
    margin-right: 12px;

    width: 50px;
    height: 18px;

    background-color: #0B2E6F;
    color: #ffffff;

    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 10px;
    font-weight: 500;
    cursor: pointer;

}

#button {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 8px 20px;
    border-radius: 50%;


}

button {
    border-radius: 45%;
    height: 25px;
    width: 50px;
    font-size: 7px;
    border: 0px solid #000;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.square {
    width: 550px;
    height: 215px;

    margin-top: 15px;
    display: flex;

}


.left {
    width: 50%;
    height: 100%;
    background-color: whitesmoke;
    margin-left: 100px;

}

.right {
    width: 50%;
    height: 100%;
    border-radius: 5px;
    width: 150px;
    margin-left: 100px;


    background-color: blueviolet;
    background-image: url(https://www.mysoftway.com/images/DSC_8065.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;


}

h1 {
    font-size: 25px;
    margin: 10px;
}

.container {
    width: 100%;
    height: 500vh;
    background-color: whitesmoke;
}

.big {
    height: 100%;
    width: 100%;
}

.bottom {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 10px;
    height: 60px;
    width: 100%;
    background-color:whitesmoke;
    border-radius: 10px;
    

}

#first {
    gap: 10px;
    height: 50px;
    border-radius: 10px;
    padding-left: 10px;

    h1 {
        font-size: 15px;
    }

    h3 {
        font-size: 10px;
    }

    h5 {
        font-size: 10px;
        ;
    }

    h6 {
        font-size: 5px;
    }

    width: 70px;
    background-color: white;
    margin-left: 10px;
    margin-right: 30px;
    display: flex;

}

.icom-box {
    height: 10px;
    width: 10px;
    background-color: cornflowerblue;
    border-radius: 5px;
    margin-bottom: 20px;
}

.secondpage {
    height: 250px;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;

    flex-direction: column;
    align-items: center;

    justify-content: center;
    background-color: rgb(0, 5, 3);
    background: url("https://www.mysoftway.com/images/DSC_8071.webp");
    background-size: cover;


}

.box {

    height: 120px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 0px;

    background-color: none;
    justify-content: center;
    padding-top: 1px;
    margin: 50px;


}

#enterprises {
    display: flex;
    background-color: white;
    height: 50px;
    width: 130px;
    border-radius: 5px;
    margin-bottom: 50%;
    margin: 10px;
    justify-content: center;
    align-content: center;
    margin-left: 40px;

}

.thirdpage {
    height: 250px;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(242, 251, 255);

    h1 {
        font-size: 15px;
        color: white;
        text-align: center;
        justify-content: center;
        padding-top: 20px;
        font-weight: 800px;
        line-height: 1.2px;
        font-size: 12px;
    }

    h6 {
        font-size: 10px;
        color: white;
        padding-top: 0px;
        text-align: center;
        justify-content: center;
        font-weight: 100px;
        font-size: 5px;
    }

    .box {
        display: flex;
        height: 250px;
        width: 100%;
        background-color:rgb(242, 251, 255);
        margin: 0;
        padding: 0;
        align-items: center;
        justify-content: center;
    }

    .box1 {
        background-color: rgb(121, 190, 42);
        height: 80%;
        width: 30%;
        border-radius: 10px;
        background-image: url("https://www.mysoftway.com/images/imagen-4.0-ultra-generate-preview-06-06_genrate_image_for_it.webp");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .box2 {
        margin-left: 30px;
        background-color: rgb(242, 251, 255);
        height: 70%;
        width: 50%;
        display: grid;
        grid-template-columns: 70px 70px 70px;
        grid-template-rows: repeat(1fr, 2);
        gap: 0px;
        row-gap: 0px;

        margin-top: 150px;
        margin-bottom: 100px;

    }

    .box-sym {
        background-color: whitesmoke;
        height: 60px;
        width: 50px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        gap: 0px;

        h6 {
            color: black;
            font-size: 5px;
            margin: -2px;

        }

        p {
            font-size: 5px;
        }



    }



}

.fourth-page {
    height: 250px;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(242, 251, 255);


    .inner-page {
        display: flex;
        height: 250px;
        width: 100%;
        background-color:rgb(242, 251, 255);
        margin: 0;
        padding: 0;
        align-items: center;
        justify-content: center;

        .content {
            background-color: wrgb(242, 251, 255);
            height: 100%;
            width: 50%;
            margin-left: 50px;

            #about {
                background-color: aliceblue;
                border-radius: 10px;
                width: 50px;
                align-items: center;
                align-content: center;
                text-align: center;

                display: flex;
                gap: 1px;
                padding: 3px;

            }

            h5 {
                font-size: xx-small;
                margin-left: 5px;
                font-weight: lighter;
            }

            .tagline {
                font-size: large;
                font-weight: bolder;
                margin: -1px;
            }

            .discription {
                font-weight: lighter;
                font-size: 9px;
            }

            .about-nav {
                background-color: #ffffff;
                border-radius: 20px;
                width: 160px;
                align-items: center;
                align-content: center;
                text-align: center;
                justify-self: center;
                height: 15px;
                display: flex;
                gap: 5px;
                padding: 3px;
                border: 1px solid #8d8686;

                font-size: x-small;
                

                .nav-btn {
                    height: 12px;
                    width: 50px;
                    border-radius: 10px;
                    text-decoration: none;
                    border: none;
                    background-color: white;
                    padding: 0px;
                    display: flex;
                    gap: 2px;
                    align-items: center;
                    align-content: center;
                    text-align: center;
                    justify-self: center;
                    border-color:black ;



                }
            }

        }

        .card {
            background-color: rgb(242, 251, 255);
            height: 100%;
            width: 50%;
            display: flex;
            align-items: center;
            align-content: center;
            text-align: center;
            justify-content: center;



            .profile-container {
                background-color: white;
                border: 1px solid var(--border);
                border-radius: 1rem;
                padding: 5px;
                text-align: center;
                max-width: 200px;
                max-height: 250px;
                margin: 0 auto;
                box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
                
            }

            .profile-icon {
                width: 80px;
                height: 80px;

                background-image: url("https://www.mysoftway.com/images/download.webp");
                background-size: cover;
                /* fit image properly */
                background-position: center;
                /* center image */
                background-repeat: no-repeat;
                justify-self: center;
                border-radius: 50%;
                margin: 5px auto;
                /* center horizontally */
            }
            .ceo-discription{
                font-size: 10px;
                margin-top: 1px;
                color: #333333;
                line-height: 1.4;
                font-weight: lighter;
                font-size: xx-small;
            }
            .role{
                font-size: 8px;
                font-weight: lighter;
                margin-top: 1px;
                color: #555555;
            }



        }

    }

}

.fifth-page {
    height: 190px;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color:rgb(242, 251, 255);

    align-content: center;
    justify-content: center;
  
    

    button{
        border-color: white;
         margin-top: 0px;
         height: 14px;
         width:80px;
         margin-left: 250px;
         border-radius: 10px;
        background-color:white;

       
       }
     .achivement{
       h1{
        font-size: 15px;
        color: white;
        text-align: center;
        justify-content: center;
        padding-top: 8px;
        font-weight: 800px;
        line-height: 1.2px;
        font-size: 12px;
       }
        
       
    }
   

}
.record{
    display: flex;
    height: 150px;
    width: 100%;
    background-color:rgb(242, 251, 255);
    

}
 .first{
    background-color: white;
    height: 90px;
    width: 130px;
    margin: 20px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: #8d8686;
        border: 2px solid #8d8686;
        border-width: 1px;
    h5{
        margin: 10px;
    }
   
    
 }
 .image{
   background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'><path d='M4 24L32 12l28 12-28 12L4 24z' fill='none' stroke='%23001a66' stroke-width='3'/><path d='M16 28v10c0 6 32 6 32 0V28' fill='none' stroke='%23001a66' stroke-width='3'/><circle cx='52' cy='32' r='2' fill='%23001a66'/></svg>");
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
    height: 30px;
    width: 40px;
    border-color: #000;
    margin: 0px auto;

 }

 .sixth-page{
    height: 500px;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color:rgb(241, 249, 249);
    


    .butten{
       
        justify-content: center;
        align-items: center;
        button{
            
            margin-left: 250px;
            height: 15px;
            width: 60px;
            border-radius: 10px;
            border-color: none;
            background-color:whitesmoke;
            font-size: 7px;
            font-weight: lighter;
            margin-top: 15px;
            margin-bottom: -3px;
          

            h1{
            
        font-size: 15px;
        color:black;
        text-align: center;
        justify-content: center;
        padding-top: 8px;
        font-weight: 800px;
        line-height: 1.2px;
        font-size: 12px;
       
       }

          
        }
       

    }

    
 }
 h6{
    font-weight: lighter;
    text-align: center;
    color: #000000;

 }
 .platform{
    display: flex;
    height: 300px;
    width: 100%;
    background-color:rgb(241, 249, 249);
    align-items: center;
    justify-content: center;

 }
 .device{
     background-color: white;
    height: 300px;
    width: 160px;
    margin: 20px;
    border-radius: 10px;
   
    box-shadow: #8d8686;
        border: 2px solid #8d8686;
        border-width: 1px;
        gap: 0px;
 }
 .fbutton{
    background-color: #001A66;

    padding:3px;
    height:20px;
    border-radius: 45%;
   margin-right: 100px;
    margin-top: 10px;
    width: 50px;
    margin-left:5px ;
 }
 p{
    font-size: 8px;
    font-weight: bold;
    color:black
    
 }

 .image-box{
    background-color:rgb(245, 237, 245);
    height: 50px;
    width: 130px;
    
    border-radius: 2px;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: #8d8686;
        border: none;
        border-width: 1px;
       
        background-position: center;
        margin-left: 10px;
        
        


    
 }
 .image{
    background-image: url("https://www.mysoftway.com/images/web-development.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 40px;
    width: 70px;
    border-color: #000;
   margin-top: 0px;
    
    
 }
 .feature-box {
    width: 100px;
    height:30px;
    
    background-color:white;
    
    border-radius: 5px;
    
   
}

.feature-box ul {
    margin: 0;
    padding-left: 15px;
}

.feature-box li {
    font-size: 5px;
    color: #111827; /* black text */
    line-height: 1.6;
   
}
.consult{
    
    height: 13px;
    width: 100px;
    background-color:rgb(242, 251, 255);
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-left:30px ;
    margin-top: 30px;

}
.image-boxtwo{
     background-color:rgb(245, 237, 245);
    height: 50px;
    width: 130px;
    
    border-radius: 2px;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: #8d8686;
        border: none;
        border-width: 1px;
       
        background-position: center;
        margin-left: 10px;
        

}
.imagetwo{
     background-image: url("https://www.mysoftway.com/images/mobile-app.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 40px;
    width: 70px;
    border-color: #000;
   margin-top: 0px;
   margin-left: 30px;
    

}
.image-boxthree{
    background-color:rgb(245, 237, 245);
    height: 50px;
    width: 130px;
    
    border-radius: 2px;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: #8d8686;
        border: none;
        border-width: 1px;
       
        background-position: center;
        margin-left: 10px;

}
.imagethree{
    background-image: url("https://www.mysoftway.com/images/ecommerce.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 40px;
    width: 70px;
    border-color: #000;
   margin-top: 0px;
   margin-left: 30px;

}




















.hero {
    padding: 80px 60px;
    background-color: rgb(241, 249, 249);
}

.hero-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}


.hero-content {
    flex: 1;
}

.badge {
    display: inline-block;
    background: #f1f4ff;
    color: #4a63ff;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 14px;
    margin-bottom: 20px;
}

.hero-content h1 {
    font-size: 42px;
    font-weight: 700;
    color: #0a0a23;
    margin-bottom: 20px;
    line-height: 1.2;
}

.hero-content p {
    font-size: 16px;
    color: #555;
    margin-bottom: 30px;
    max-width: 480px;
}






.hero-image {
    flex: 1;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    object-fit: cover; 
}

.hero-image img {
    
    width: 100%;
  
    object-fit: cover;
    border-radius: 20px;
   
   overflow: hidden;
    object-fit: cover;
}


.nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 38px;
    height: 38px;
    border-radius: 50%;
    border: none;
    background: #ffffff;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.prev {
    left: 15px;
}

.next {
    right: 15px;
}



























